.index-container {
  flex: 1;
  height: 100%;
  display: flex;
  margin: -5px;
  font-size: 16px;
  flex-direction: column;
  background-color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
}
.index-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #364699;
}
.index-header-logo {
  padding-right: 10px;
}
.index-header-content {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: 1024px;
}
.app-title {
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0px;
}
.app-subtitle {
  text-align: center;
  line-height: 15px;
  color: #fcd303;
  font-weight: 500;
  margin-top: -5px;
}
.app-made {
  color: white;
  font-size: 11px;
}
.app-made a {
  color: white;
}
.app-made-heart {
  color: #fcd303;
  font-size: 12px;
}
.index-main {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
}
.index-main p {
  line-height: 24px;
}
.index-main-content {
  max-width: 900px;
}
.index-main-content-section {
  padding-bottom: 18px;
  color: #333;
}
.cta {
  display: flex;
  justify-content: center;
  padding: 30px 0 60px 0;
}