.comp-config-prop-label {
  font-weight: bold;
  text-transform: capitalize;
}
.comp-config-action-btn-container {
  display: flex;
  justify-content: flex-end;
}
.btn-with-margin {
  margin-right: 5px;
}