.dropContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 10px 20px 100px 20px;
  min-height: 102px;
  color: #007fa9;
  border: 1px dashed lightblue;
  font-family: 'Montserrat', sans-serif;
}
.inline {
  margin-bottom: 0;
}
.isDragOver {
  border: 1px dashed #33449e;
  font-weight: 500;
}

.dropIcon {
  fill: #33449e;
  pointer-events: none;
}
