.dropContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  min-height: 102px;
  color: #007fa9;
  border: 1px dashed lightblue;
  font-family: 'Montserrat', sans-serif;
}
.isDragOver {
  border: 1px dashed #007fa9;
  font-weight: 500;
}

.dropIcon {
  fill: #007fa9;
}