.colorContainer {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
}
.color {
  display: inline-block;
  width: 80px;
  height: 30px;
  border: 2px solid #fff;
}
.color:hover {
  cursor: pointer;
}