.colorContainer {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
}
.color {
  display: inline-block;
  width: 80px;
  height: 30px;
  border: 2px solid #fff;
}
.color:hover {
  cursor: pointer;
}
.colorPicker {
  position: absolute !important;
  margin-top: 65px;
  z-index: 10;
}
.hidden {
  display: none;
}
.posBackground {
  top: 145px;
}
.posPrimary {
  top: 190px;
}
.posSecondary {
  top: 235px;
}
.posTertiary {
  top: 280px;
}
.posQuaternary {
  top: 325px;
}
.posLightFont {
  top: 370px;
}
.posDarkFont {
  top: 415px;
}
.fontSelector {
  z-index: 1;
}
.tabHeader {
  padding-bottom: 10px;
}
.tabDescription {
  font-size: 13px;
  line-height: 20px;
  color: transparent;
  background-clip: text;
  background-color: #3c3c3c;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
}