.component-dialog-content {
  min-width: 500px;
  max-width: 540px;
  max-height: 600px;
  overflow-y: scroll;
}
.component-card {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.component-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}
.dialog-close-button {
  margin-top: -10px;
}