.dropContainer {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 6px;
  left: 6px;
  color: #888;
  height: 100px;
  align-items: center;
  justify-content: center;
  border: 2px dashed #888;
  mix-blend-mode: difference;
  font-family: 'Montserrat', sans-serif;
}
.inline {
  position: relative;
  flex: 1 1;
  bottom: 0;
  right: 0;
  left: 0;
}
.isDragOver {
  border: 1px dashed #33449e;
  font-weight: 500;
}

.dropIcon {
  fill: #33449e;
  pointer-events: none;
}
