.navbarHeading {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #fff;
}
.navbarButton > span {
  color: #fff;
  font-size: 13px;
}
.navbarButton:disabled > span {
  color: rgba(92, 112, 128, 0.8);
}