.sidebarContainer {
  width: 300px;
  display: flex;
  padding: 0 20px 0 10px;
  overflow-y: auto;
  flex-direction: column;
  background-color: #f2f2f2;
}
.sidebarContentContainer {
  flex: 1;
  border-right: 1px solid #DFE1E5;
}
/* .sidebarItem {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 20px;
  justify-content: flex-start;
}
.sidebarItemName {
  text-transform: capitalize;
}
.sidebarItemIcon {
  padding-right: 10px;
} */