.sidebarContainer {
  width: 350px;
  display: flex;
  padding: 0 20px 0 10px;
  overflow-y: auto;
  flex-direction: column;
  background-color: #ffffff;
}
.sidebarContentContainer {
  flex: 1;
  border-right: 1px solid #DFE1E5;
}
