html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #fff;
}
:global(.root) {
  display: flex;
  flex-direction: column;
  background-color: #e8eaed;
  position: absolute;
  width: 100%;
  top: 0;
  min-height: 100%;
}
.app {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
.editor {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 5px solid #e8eaed;
}