html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #fff;
}
:global(.root) {
  background-color: #e8eaed;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 162px;
  min-height: 100%;
}
.app {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.editor {
  background-color: #fff;
  border: 5px solid #e8eaed;
  border-top: 20px solid #e8eaed;
  min-height: 96%;
}