.colorPicker {
  position: relative;
  left: 56px;
  z-index: 10;
}
.currentBackgroundColor {
  border: 0;
  width: 60px;
  height: 25px;
  user-select: none;
  border-radius: 3px;
}
.currentBackgroundColor:hover {
  cursor: pointer;
}