.container {
  display: flex;
  min-height: 50px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.switchContainer {
  margin-top: 5px;
}
.label {
  display: inline;
  color: #555;
  font-weight: bold;
  padding-right: 5px;
  align-items: center;
}
.sliderLabel {
  padding-right: 20px;
}
.value {
  color: #137cbd !important;
}
.numericContainer {
  width: 80px;
}
.sliderContainer {
  padding-top: 20px;
  align-items: flex-start;
}
:global(.bp3-slider-axis) {
  display: none;
}