.container {
  display: flex;
  min-height: 50px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.container:hover {
  padding: 0 20px;
  margin: 0px -20px;
  background-color: #f2f2f2;
}
.switchContainer, .switchContainer:hover {
  margin-top: 5px;
}
.selectContainer {
  min-width: 100px;
}
.numericContainer {
  width: 80px;
}
.sliderContainer {
  padding-top: 20px;
  align-items: flex-start;
}
.label {
  display: inline;
  color: #555;
  padding-right: 5px;
  align-items: center;
}
.editableText {
  max-width: 200px !important;
}
.sliderLabel {
  padding-right: 20px;
}
.value {
  color: #137cbd !important;
}
:global(.bp3-slider-axis) {
  display: none;
}
