.container {
  display: flex;
  min-height: 50px;
  flex-direction: column;
  justify-content: center;
}
.switchContainer {
  margin-top: 5px;
}
.label {
  display: inline;
  color: #555;
  font-weight: bold;
  padding-right: 5px;
  align-items: center;
}
.value {
  color: #137cbd !important;
}