.iframeContainer {
  flex: 1;
  z-index: 10;
  max-width: 1300px;
  will-change: transform;
  transform: translate(0, 0);
  margin-right: 20px;
  box-shadow: 0 0 20pt 0pt #555;
  transition: 0.6s cubic-bezier(0.42, 0, 0.58, 1);
}
.iframeOffset {
  transform: translate(90%, 0);
}
iframe {
  border: 0;
  border-top: 15px solid #e8eaed;
  box-sizing: border-box;
  background-color: #fff;
  /* border-left: 2px solid #e8eaed;
  border-right: 2px solid #e8eaed; */
}
.iframeBrowserHeader {
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top: 1px solid #f7f7f7;
  border-left: 1px solid #ddd;
  background-color: #e8eaed;
}
.iframeBrowserButtonContainer {
  position: absolute;
  display: flex;
  width: 70px;
  top: 14px;
}
.iframeBrowserButton {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 8px;
  background-color: #fff;
}
.iframePageTitle {
  position: absolute;
  color: #696c71;
  font-size: 13px;
  left: 70px;
  top: 11px;
}